body {
    background-color: #80d4ea;
}

#clock {
    height: 200px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 300px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 150px;
}

#date {
  height: 50px;
  width: 400px;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 20px;
  margin: auto;
  font-family: courier, monospace;
}

#day {
  height: 50px;
  width: 400px;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 10px;
  margin: auto;
  font-family: courier, monospace;
}

h1 {
  font-size: 70px;
  font-family: courier, monospace;
}

#hour {
  width: 250px;
  height: 200px;
  float: left;
  margin-right: -20px;
  padding-right: 0;
}

#minute {
  width: 250px;
  height: 200px;
  display: inline-block;
}

#second {
  width: 250px;
  height: 200px;
  float: right;
}

#international-clock {
  padding-top: 200px;
  width: 800px;
  text-align: center;
  margin:auto;
}

td {
  width: 200px;
}
